<section class="">
    <div class="" style="background: rgb(192, 218, 229);">
        <div class="container">
            <div class="ArAcAccountBody ">
                <div class="ArAcProfileBody ">
                    <div class="ArtistProfileAdmin">
                    </div>
                    <div class="ArAcProfileImageDiv">
                        <img class="ArAcProfileImage" src="/user-images/{{user._id}}.jpg" alt="artist profile"
                            onerror="this.onerror=null;callfun(this);">
                    </div>
                    <h1 class="ArAcProfileName">{{user.UserName}}</h1>
                    <h3 class="ArAcProfileDescrip"><span class="glyphicon glyphicon-envelope"></span> {{user.EmailId}}
                        <span class="glyphicon glyphicon-phone-alt"></span> {{user.Mobile}}
                    </h3>
                </div>
                <hr>
                <div class="ArAcAccoundbody">
                    <div >
                        {{!-- Details --}}
                        <div>
                            <h4 class="ArAcBodyItemHeader"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                    height="20" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                    <path
                                        d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                                </svg></span> Billing Address</h4>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Full name </th>
                                        <th scope="col">: {{user.FirstName}} {{user.LastName}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">Phone number </th>
                                        <th scope="col">: {{user.Mobile}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">PIN Code </th>
                                        <th scope="col">: {{user.Pincode}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">House </th>
                                        <th scope="col">: {{user.House}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Area/Colony </th>
                                        <th scope="col">: {{user.Area}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">Landmark </th>
                                        <th scope="col">: {{user.Landmark}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Town/City </th>
                                        <th scope="col">: {{user.City}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">Contry - State </th>
                                        <th scope="col">: {{user.Country}} - {{user.State}}</th>
                                    </tr>
                                </thead>

                            </table>

                            {{!-- delivery address --}}

                            <h4 class="ArAcBodyItemHeader pt-5"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                    height="20" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                    <path
                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                </svg> Delivery Address</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Full name </th>
                                        <th scope="col">: {{user.FirstName}} {{user.LastName}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">Phone number </th>
                                        <th scope="col">: {{user.DMobile}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">PIN Code </th>
                                        <th scope="col">: {{user.DPincode}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">House </th>
                                        <th scope="col">: {{user.DHouse}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Area/Colony </th>
                                        <th scope="col">: {{user.DArea}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">Landmark </th>
                                        <th scope="col">: {{user.DLandmark}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Town/City </th>
                                        <th scope="col">: {{user.DCity}}</th>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="col">Country - State </th>
                                        <th scope="col">: {{user.DCountry}} - {{user.DState}}</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function callfun(obj) {
        var noimg = "/images/user icon.png";
        obj.src = noimg;
    }

</script>

