<section>
    <div class="sidebarContent">
        <div class="sidebarcontentDiv">
            <div class="pt-3">
                <h4 class="ArAcBodyItemHeader "><i class="bi bi-list-ol"></i> Product List</h4>
                 <div class="mt-4">
                    {{#if success}}
                    <div class="alert alert-success alert-dismissible " role="alert">
                        <strong><i class="glyphicon glyphicon-ok-sign "></i> Product created success ! </strong>{{success}}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                </div>
                    <table class="table " id="productTable" style="100%">
                        <thead class="bg-dark text-light">
                            <tr>
                               
                                <th scope="col">Image</th>
                                <th scope="col">Product title</th>
                                <th scope="col">Category</th>
                                <th scope="col">Status</th>
                                
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each artistAllunProduct}}
                            <tr>
                              
                                <td><a href="/artist/dashboard/product-list/{{this._id}}"><img style="width: 40px; hight:40px;" data-toggle="tooltip" data-placement="bottom" title="View Product Details"
                                            src="/unproducts-images/{{this._id}}m-art.jpg" alt="image" onerror="this.onerror=null;callfun(this);"></a></td>
                                <td>{{this.ProductName}}</td>
                                <td>{{this.Category}}
                                </td>
                                <td >
                                    <span id="status"  class="{{this.Status}}">{{this.Status}}</span>
                                </td>
                                
                                <td>
                                  
                                 
                                    <a href="/artist/dashboard/product-list/delete-product/{{this._id}}" class="btn btn-danger" title="Detete product"
                                        onclick="return confirm('Are you want to delete {{this.ProductName}} ?')"><span
                                            class="glyphicon glyphicon-remove"></span></a>
                                </td>
                                {{/each}}
                            </tr>

                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>

      
<script>

    function callfun(obj) {
        var noimg = "/images/user icon.png";
        obj.src = noimg;
    }

</script>



<script>
 
  $ (function () {
    $('#productTable').DataTable();
} );
</script>