<section>
    <div class="sidebarContent">
        <div class="sidebarcontentDiv">
            <div class="pt-3">
                <div>
                    <div class="AMDmainDIv col-md-4 col-sm-6 col-xs-12">
                        <div class="AMDborderDIv1">
                            <div>
                                <h4 class="AMDcount text-center">{{allunvalidCount.totalnuvalid}} <i class="bi bi-file-earmark-ppt"></i>
                                </h4>
                            </div>
                            <hr>
                            <h4 class="AMDitemHeadr ">Pending products </h4>
                        </div>
                    </div>
                    <div class="AMDmainDIv col-md-4 col-sm-6 col-xs-12 ">
                        <div class="AMDborderDIv3">
                            <div>
                                <h4 class="AMDcount text-center">{{allConfirmedCount.totalConfirmed}} <i class="bi bi-check-circle"></i>
                                </h4>
                            </div>
                            <hr>
                            <h4 class="AMDitemHeadr">Confirmed products </h4>
                        </div>
                    </div>
                    <div class="AMDmainDIv col-md-4 col-sm-6 col-xs-12 ">
                        <div class="AMDborderDIv4">
                            <div>
                                <h4 class="AMDcount text-center">8888 <i class="bi bi-bag-check"></i>
                                </h4>
                            </div>
                            <hr>
                            <h4 class="AMDitemHeadr">Total orders </h4>
                        </div>
                    </div>
                    <div class="AMDmainDIv col-md-4 col-sm-6 col-xs-12">
                        <div class="AMDborderDIv2">
                            <div>

                                <h4 class="AMDcount text-center">{{totalStars}} <i class="bi bi-star-half"></i> </h4>
                            </div>
                            <hr>
                            <h4 class="AMDitemHeadr">Stared prople <span class="AMDitemUpper"><i
                                        class="bi bi-chevron-double-up">45%</i></span> </h4>
                        </div>
                    </div>
                    <div class="AMDmainDIv col-md-8 col-sm-12 col-xs-12">
                        <div  class="AMDsecondDIv1">
                                <div style="margin-bottom: 15px; padding-top: 10px" class="AMDsecondcount1Div">
                                    <div class="AMDsecondCount11">
                                        <h3 class="AMDsecondCount1">4444</h3>
                                        <h4 class="AMDsecondCounttitle1">For Sales</h4>
                                    </div>
                                    <div class="AMDsecondCount11">
                                        <h3 class="AMDsecondCount1">4444</h3>
                                        <h4 class="AMDsecondCounttitle1">For Drowings</h4>
                                    </div>
                                </div>
                                <div  class="AMDsecondHeader1">
                                    <div>
                                        <h4 class="AMDsecondHeaderitem1">Total user orders : 5555</h4>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="AMDmainDIv col-md-12 col-sm-12 col-xs-12">
                        <div class="AMDsecondDIv3">
                                <div style="margin-bottom: 15px; padding-top: 10px" class="AMDsecondcount1Div">
                                    <div class="AMDsecondCount31">
                                        <h3 class="AMDsecondCount3">{{allunvalidCount.pending}}</h3>
                                        <h4 class="AMDsecondCounttitle1">Pending</h4>
                                    </div>
                                    <div class="AMDsecondCount31">
                                        <h3 class="AMDsecondCount3">{{allunvalidCount.edited}}</h3>
                                        <h4 class="AMDsecondCounttitle3">Edited</h4>
                                    </div>
                                    <div class="AMDsecondCount31">
                                        <h3 class="AMDsecondCount3">{{allunvalidCount.notApprove}}</h3>
                                        <h4 class="AMDsecondCounttitle3">Not-approved</h4>
                                    </div>
                                </div>
                                <div class="AMDsecondHeader3">
                                    <div>
                                        <h4 class="AMDsecondHeaderitem3">Total pending products : {{allunvalidCount.totalnuvalid}}</h4>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="AMDmainDIv col-md-8 col-sm-12 col-xs-12">
                        <div class="AMDsecondDIv2">
                                <div style="margin-bottom: 15px; padding-top: 10px" class="AMDsecondcount1Div">
                                    <div class="AMDsecondCount21">
                                        <h3 class="AMDsecondCount2">{{allConfirmedCount.sales}} <span style="color: rgb(95, 95, 95); font-size:18px">{{allConfirmedCount.salesPercent}}%</span></h3>
                                        <h4 class="AMDsecondCounttitle1">For Sales</h4>
                                    </div>
                                    <div class="AMDsecondCount21">
                                        <h3 class="AMDsecondCount2">{{allConfirmedCount.drowing}} <span style="color: rgb(95, 95, 95); font-size:18px">{{allConfirmedCount.drowingPercent}}%</span></h3>
                                        <h4 class="AMDsecondCounttitle2">For Drowings</h4>
                                    </div>
                                </div>
                                <div class="AMDsecondHeader2">
                                    <div>
                                        <h4 class="AMDsecondHeaderitem2">Total Confirmed products : {{allConfirmedCount.totalConfirmed}}</h4>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="AMDmainDIv col-md-4 col-sm-6 col-xs-12 ">
                         <div style="background-color: teal;" class="AMDborderDIv1">
                                <div>
                                    <h4 class="AMDcount text-center">5555 <i class="bi bi-truck"></i></h4>
                                </div>
                                <hr>
                                <h4 class="AMDitemHeadr ">Total delivery  </h4>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>